style for the temperature converter */
body {
    font-family: Arial, sans-serif;
      background:linear-gradient(to right, #f8ef3d, #aef053);
    margin: 0;
    padding: 20px;
    font-style: oblique;
    background-color: #f80e0e;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 5%;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    color: #33beec;
}

.converter {
    background-color: #631919;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: auto;
}
input[type="number"],
input[type="text"] {
    
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #f59090;
    background-color: #62d3ff;
    
    border-radius:50px;
}

button {
    background-color: #4CAF50;
    color: rgb(19, 15, 15);
    padding: 10px 15px;
    border: none;
    width: 200px;
    border-radius: 50px;
    cursor: pointer;
}
button:hover {
    background-color: #3794e6;
}
.result {
    
    margin-top:2%;
    font-size: 1.2em;
    text-align: center;
    color: #555;
}
.span {
    border-radius: 50px;
    font-weight: bold;
    color: #000;
    margin-bottom: 5px;
    margin-top: 5px;
}
select {
    width: 8%;
    padding: 10px;
    margin: 10px 10px;
    margin-top: 5px;
    border: 1px solid #ca6363;
    background-color: #62d3ff;
    border-radius: 50px;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
    
    align-items: center;
}
footer {
    align-items: center;
     
     position: fixed;
    bottom: 10px;
    margin-left: 40%;
   background: linear-gradient(to left, #0f1703,#4b0c62);
    margin-top: 20px;
    font-size: 2rem;
    color: #777;
}

/* General reset for better consistency across browsers */

.main-box {
    background:linear-gradient(to right, #3e403d, #f6f64b);
}
/* Additional responsive design */
@media (max-width: 1024px) {
    .converter {
        padding: 15px;
    }
    button {
        width: 80%;
    }
    select{
        width: 40%;
    }
    
    .container {
        margin-top: 20%;
        flex-direction: column;
    }
    .result {
        font-size: 1rem;
        margin-top: 10%;
    }

    footer {
        font-size: 0.8em;
        margin-left: 30%;
    }

}
@media (max-width: 600px) {
    .converter {
        padding: 15px;
    }
    button {
        width: 80%;
    }
    select{
        width: 40%;
    }
    
    .container {
        margin-top: 20%;
        flex-direction: column;
    }
    .result {
        font-size: 1rem;
        margin-top: 10%;
    }

    footer {
        font-size: 0.8em;
        margin-left: 30%;
    }

}
@media (max-width: 420px) {
    h1{
        font-size: 1.5em;
    }
    .converter {
        padding: 15px;
    }
    button {
        width: 80%;
    }
    select{
        width: 40%;
    }
    
    .container {
        margin-top: 20%;
        flex-direction: column;
    }
    .result {
        font-size: 0.9rem;
        margin-top: 10%;
    }
    input[type='text']{
        width: 50%;
    }

    footer {
        font-size: 0.8em;
        margin-left: 30%;
    }

}/* CSS */



    
